grafana/logs/
grafana/data/
!grafana/config/provisioning/

ha-dockermon/logs/*
!ha-dockermod/config/configuration.yml

heimdall/keys/
heimdall/logs/
heimdall/nginx/*
!heimdall/nginx/nginx.conf
!heimdall/nginx/site-confs/default
heimdall/php/
heimdall/www/


homeassistant/config/*
!homeassistant/config/automations.yaml
!homeassistant/config/configuration.yaml
!homeassistant/config/custom_components/
homeassistant/config/custom_components/docker_monitor/__pycache__/*
!homeassistant/config/groups.yaml 
!homeassistant/config/scripts.yaml
homeassistant/data/
homeassistant/deps/
homeassistant/logs/
homeassistant/.cloud/
homeassistant/.storage/
homeassistant/.HA_VERSION

influxdb/config/*
!influxdb/config/influxdb.conf
influxdb/db/
influxdb/logs/
influxdb/.influx_history

jackett/config/
jackett/data/
jackett/logs/

lidarr/config/*
lidarr/data/
lidarr/logs/

mosquitto/config/passwd
!mosquitto/config/mosquitto.conf
mosquitto/data/
mosquitto/logs/*
!mosquitto/logs/mosquitto.example.log

nextcloud/app_data/
nextcloud/apps/
nextcloud/custom_apps/*
nextcloud/3rdparty/
nextcloud/config/*
!nextcloud/config/autoconfig.php
!nextcloud/config/custom.config.php
!nextcloud/config/CAN_INSTALL
nextcloud/console.php
nextcloud/core/
nextcloud/cron.php
nextcloud/data/
nextcloud/index.html
nextcloud/index.php
nextcloud/lib/
nextcloud/logs/
nextcloud/occ
nextcloud/ocm-provider/
nextcloud/ocs/
nextcloud/ocs-provider/
nextcloud/public.php
nextcloud/remote.php
nextcloud/resources/
nextcloud/robots.txt
nextcloud/settings/
nextcloud/status.php
nextcloud/version.php
nextcloud/.htaccess
nextcloud/.user.ini

organizr/keys/
organizr/log/
organizr/nginx/*
!organizr/nginx/nginx.conf
!organizr/nginx/site-confs/default
organizr/organizr/
organizr/php/
organizr/www/


pihole/logs/
pihole/dnsmasq.d/
pihole/pihole/
pihole/pihole/setupVars.conf
pihole/resolv.conf

plex/Cache/
plex/Codecs/
plex/Crash Reports/
plex/Diagnostics/
plex/Library/
plex/Logs/
plex/Media/
plex/Metadata/
plex/plexmediaserver.pid
plex/Plug-ins/
plex/Plug-in Support/
plex/Preferences.xml

postgres/data/
postgres/logs/
postgres/sock/

prometheus/config/*
!prometheus/config/prometheus.yml

radarr/Backups/
radarr/MediaCover/
radarr/config.xml
radarr/logs/
radarr/logs.db*
radarr/nzbdrone.db*
radarr/nzbdrone.pid
radarr/xdg/

redis/config/passwd.conf
!redis/config/redis.conf
redis/data/
redis/logs/

shared/.htpasswd
shared/passwd
shared/dockerfiles/

.env
backup/

sonarr/config/
sonarr/data/
sonarr/logs/

tautulli/backups/
tautulli/cache/
tautulli/GeoLite2-City.mmdb
tautulli/config.ini
tautulli/logs/
tautulli/newsletters/
tautulli/release.lock
tautulli/tautulli.db
tautulli/version.lock

telegraf/config/*
!telegraf/config/telegraf.conf
telegraf/logs/*

traefik/logs/*
traefik/config/traefik.yml.bkp
traefik/acme/*

transmission/transmission.log
transmission/stats.json

varken/config/
varken/data/
varken/logs/

